<a href="https://colab.research.google.com/github/tribber93/ML-Capstone-Project/blob/main/Sistem_Rekomendasi_Content_Based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import tensorflow as tf
import pandas as pd

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
#membaca dataset
path = '/content/drive/MyDrive/dataset/Dataset - Capstone Project - Data Kuesioner.csv'
df = pd.read_csv(path)
df = df.drop(columns=['rata-rata rating', 'jumlah rating', 'link'])
df.head()

,kuesioner_id,judul,deskripsi,rentang usia,kategori
0,1,Pengaruh Persepsi Risiko Terhadap Keputusan Pe...,Saya Dewi Sri Sulastri mahasiswa semester 8 Sa...,umum,online shop
1,2,"Pola Asuh, Dukungan Sosial, dan Self-esteem.","Selamat datang, terima kasih sudah meluangkan ...","18-25, 26-35, 36-45",Sosial
2,3,"Kuesioner Penelitian ""Pengaruh Persepsi Kemuda...","Dengan ini, memohon kesediaan Bapak/Ibu/Saudar...",umum,"keuangan, aplikasi"
3,4,"PENGARUH KOREAN WAVE, BRAND AMBASSADOR, DAN SH...",Binusian 2023 Jurusan Business Management. Saa...,umum,"hobi, musik, kpop"
4,5,Pengaruh Ulasan Online pada platform TikTok te...,Assalamualaikum Wr. Wb.\n\nYth. Responden di T...,umum,"online shop, skin care, kecantikan, tiktok"

In [31]:
#fungsi membuat teks menjadi lowercase
def toLowercase(df):
  return [str(lower).lower() for lower in df]
#fungsi membuat teks menjadi list
def toList(df):
    return [i.split(', ') for i in df]

In [32]:

features = [ 'judul', 'deskripsi', 'rentang usia','kategori']
for feature in features:
  df[feature] = toLowercase(df[feature])

In [33]:
try:
  df['rentang usia']=toList(df['rentang usia'])
  df['kategori']=toList(df['kategori'])
except:
  print('Sudah diubah')
df.head()

,kuesioner_id,judul,deskripsi,rentang usia,kategori
0,1,pengaruh persepsi risiko terhadap keputusan pe...,saya dewi sri sulastri mahasiswa semester 8 sa...,[umum],[online shop]
1,2,"pola asuh, dukungan sosial, dan self-esteem.","selamat datang, terima kasih sudah meluangkan ...","[18-25, 26-35, 36-45]",[sosial]
2,3,"kuesioner penelitian ""pengaruh persepsi kemuda...","dengan ini, memohon kesediaan bapak/ibu/saudar...",[umum],"[keuangan, aplikasi]"
3,4,"pengaruh korean wave, brand ambassador, dan sh...",binusian 2023 jurusan business management. saa...,[umum],"[hobi, musik, kpop]"
4,5,pengaruh ulasan online pada platform tiktok te...,assalamualaikum wr. wb.\n\nyth. responden di t...,[umum],"[online shop, skin care, kecantikan, tiktok]"

In [34]:
df['kategori'][35]

['game', 'sejarah', 'teknologi']

In [35]:
import itertools
list_kategori = df['kategori']
list_kategori = list(itertools.chain(*list_kategori))

from collections import Counter
df_kategori_count = pd.DataFrame(Counter(list_kategori).most_common(), columns=['kategori', 'Jumlah'])
df_kategori_count

               kategori  Jumlah
0                bisnis      31
1               ekonomi      18
2          sosial media      14
3              aplikasi      12
4              perilaku      10
5           online shop       9
6            pendidikan       8
7              keuangan       7
8                 musik       7
9             kesehatan       6
10                 kpop       5
11            mahasiswa       5
12            psikologi       5
13           pariwisata       5
14            pelayanan       5
15               tiktok       4
16              website       4
17         transportasi       4
18            teknologi       4
19          kepribadian       4
20            marketing       4
21              makanan       4
22             konsumen       4
23               budaya       4
24             keamanan       3
25              sejarah       3
26               desain       3
27           lingkungan       3
28               sosial       2
29            skin care       2
30           kecantikan       2
31           percintaan       2
32         pemerintahan       2
33             olahraga       2
34                 game       2
35           perjalanan       2
36            manajemen       2
37             kosmetik       2
38            kekerasan       2
39            wisatawan       2
40                 hobi       1
41             otomotif       1
42                motor       1
43              kuliner       1
44                 foto       1
45          marketplace       1
46            orang tua       1
47           sepak bola       1
48               shopee       1
49              twitter       1
50            pekerjaan       1
51              politik       1
52  hubungan pernikahan       1
53            pelecehan       1
54             hubungan       1
55    kekerasan seksual       1

In [36]:
import itertools
list_usia = df['rentang usia']
list_usia = list(itertools.chain(*list_usia))

from collections import Counter
df_usia_count = pd.DataFrame(Counter(list_usia).most_common(), columns=['rentang usia', 'Jumlah'])
df_usia_count

  rentang usia  Jumlah
0         umum      99
1        18-25      30
2        26-35      11
3        15-17       6
4        36-45       5
5        46-55       1